<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Java Development Introduction</title>
    <style>
      .types {
          color: gray;
          font-family: arial;
          background: beige;
       }
   </style>
</head>
<body>
<h1>Lesson 1</h1>
<h2>Java Introduction</h2>
<div class = "types">
    <p>Hi! In this lesson we will start learning the java language.</p>
    <p>Java is a high-level, class-based,<br>
        object-oriented programming language.
    </p>
</div>
</body>
</html>